<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">        
    </head>
    <header>
    
     <h1><a href="{{path('professional_home')}}"> Professionel</a></h1>
     <h1><a href="{{path('home')}}"> Particulier</a></h1>

       
        <script src="{{ asset('js/homeRedirect/home.js') }}"></script>    
           
    </body>
</html>
