{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		{% if 'Integrity' in error %}
			<div class=" text-center alert alert-danger mt-3" role="alert">
				L'adresse email existe déjà !
			</div>
		{% endif %}
		<h1>Inscription</h1>
		<p>Entrez vos informations personnelles</p>

		{{ form_start(registrationForm) }}
		<div class="form-floating mb-3">
			{{ form_widget(registrationForm.email) }}
			<label for="floatingInput">Adresse Email</label>
		</div>
		<div class="form-floating mb-3">
			{{ form_widget(registrationForm.firstname) }}
			<label for="floatingInput">Votre nom</label>
		</div>
		<div class="form-floating mb-3">
			{{ form_widget(registrationForm.lastname) }}
			<label for="floatingInput">Votre prénom</label>
		</div>
		<div class="form-floating mb-3">
			{{ form_widget(registrationForm.plainPassword) }}
			<label for="floatingInput">Votre mot de passe</label>
		</div>

		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-outline-primary me-2">Créer son compte</button>
			<a class="mt-1" href="{{ path('app_login') }}">Vous avez déja un compte ?</a>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
