{% extends "basepro.html.twig" %}

{% block body %}
	{#<div id="Ban">
																					<div class="serviceDescription">
																						<h4>{{service.des}}</h4>
																					</div>
																			
																					<img src="{{ asset('uploads/' ~ service.image) }}" width="auto" height="auto" class="rounded mx-auto d-block w-50 p-5" alt="image service">
																			
																					<div id="blockds">
																			
																						<p style="width: 60%">{{service.des}}</p>
																						<a href="#">
																							<button buttonstyle="width:30%" type="button" class="btn btn-success">
																								Demander un devis
																							</button>
																						</a>
																					</div>
																			#}

	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="details col-md-6">

						<h3 class="product-title">{{service.name}}</h3>
						<div class="rating"></div>
						<p class="product-description">{{service.des}}</p>
						<img src="{{ asset('uploads/' ~ service.image) }}" width="auto" height="auto" class="rounded mx-auto d-block w-50 p-5" alt="image service">
						<div class="action">
							<button class="add-to-cart btn btn-success " type="button">Demander un devis</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
