{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src={{ service.image }} alt=""></td>
            </tr>
            <tr>
                <th>Des</th>
                <td>{{ service.des }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ service.reference }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ service.categoryService.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ service.state ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_index') }}">back to list</a>

    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
