{% include "baseadmin.html.twig" %}
<div style="display: flex; ">
	<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white classPerso" style="width: 250px;">
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"></li>
			<li>
				<a href="{{ path('admin_stats_customer') }}" class="nav-link text-white">
					<i class="fa fa-dashboard"></i>
					<span class="ms-2">Statistiques clients</span>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_stats_services') }}" class="nav-link text-white">
					<i class="fa fa-first-order"></i>
					<span class="ms-2">Statistiques services</span>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_gestion_produit') }}" class="nav-link text-white">
					<i class="fa fa-cog"></i>
					<span class="ms-2">Gestion des produits</span>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_gestion_services') }}" class="nav-link text-white active">
					<i class="fa fa-cog"></i>
					<span class="ms-2">Gestion des services</span>
				</a>
			</li>
			<li>
				<a href="{{ path('admin_gestion_devis') }}" class="nav-link text-white">
					<i class="fa fa-bookmark"></i>
					<span class="ms-2">Gestion des devis</span>
				</a>
			</li>
			<hr>
			<li>
				<a href="/logout" class="nav-link text-white">
					<i class="fa fa-bookmark"></i>
					<span class="ms-2">Déconnexion</span>
				</a>
			</li>
		</ul>
	</div>
	<div style="display: flex; justify-content:center; width: 100%">
		<div class="container">
			<div style="display: flex; justify-content: space-evenly; align-items: center;">
				<div class="blockmanagement">
					<div>Service(s) actif(s)</div>
				</div>
				<div class="blockmanagement">
					<div>Service(s) inactif(s)</div>
				</div>
			</div>
			<!-- Button trigger modal -->
			<div class="d-flex justify-content-center mb-3">
				<button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#mdNewService">
					Ajouter un nouveau service
				</button>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdNewCat">
					Ajouter une catégorie de service
				</button>
			</div>
			<div class="input-group mb-2 d-flex justify-content-start" style="width: 50%">
				<input type="text" class="form-control" placeholder="Recherche..." aria-label="Recherche..." aria-describedby="button-addon2">
				<button class="btn btn-secondary d-flex align-items-center" type="button" id="button-addon2"><img src="{{ asset('bootstrap/icon/search.svg') }}"></button>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">numero</th>
						<th scope="col">logo</th>
						<th scope="col">désignation</th>
						<th scope="col">référence</th>
						<th scope="col">Catégorie</th>
						<th scope="col">Etat</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="mdNewService" tabindex="-1" aria-labelledby="mdNewServiceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="mdNewServiceLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ render(controller('App\\Controller\\ServiceController::new',{'fileUploader':file})) }}
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="mdNewCat" tabindex="-1" aria-labelledby="mdNewCatLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="mdNewCatLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ render(controller('App\\Controller\\CategoryServiceController::new')) }}
				</div>
			</div>
		</div>
	</div>
</div>
