{{ form_start(form,{'action': path('product_edit',{'id':product.id}),'attr':{'id':'form_product_edit'}}) }}
<div class="mb-3">
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.reference)}}
			<label for="floatingInput">Référence</label>
		</div>
	</div>
	<div class="mb-3">
		<label for="formFileMultiple" class="form-label">Choisir une ou plusieur images</label>
		{{ form_widget(form.image)}}
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.name)}}
			<label for="floatingInput">Nom</label>
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.categoryProduct)}}
			<label for="floatingInput">Catégorie</label>
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.des)}}
			<label for="floatingInput">Déscription</label>
		</div>

	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.price)}}
			<label for="floatingInput">Prix</label>
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.quantity)}}
			<label for="floatingInput">Quantité disponible</label>
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_widget(form.recyclingIndex)}}
			<label for="floatingInput">Indice de recyclabilité</label>
		</div>
	</div>
	<div class="col mb-3">
		{{ form_widget(form.state)}}
		<label>Disponible en stock</label>
	</div>
	<div class="accordion accordion-flush mb-3" id="arcc{{product.id}}">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Liste des images
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#arcc{{product.id}}">
				<div class="accordion-body">
					{% for img in product.images %}
						<div class="col mb-2">
							<img style="height:30%;width:30%;" src="{{ asset('uploads/' ~ img) }}">
							<a href="{{ path('product_img',{'id':product.id,'imgVal':img}) }}" class="btn btn-danger">Supprimer l'image</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<button class="btn btn-outline-primary">{{ button_label|default('Ajouter') }}</button>
	</div>
	{{ form_end(form) }}
