{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Des</th>
                <th>Reference</th>
                <th>Catégorie</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>State</th>
                <th>RecyclingIndex</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for product in products %}
        
            <tr>
                <td>{{ product.id }}</td>
                <td><img src={{ product.image }} alt=""></td>
                <td>{{ product.des }}</td>
                <td>{{ product.categoryProduct.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{% if product.quantity > 0 %}
                    Available
                    {% else %}
                    Sold-out!
                {% endif %}</td>
                
                <td>{{ product.recyclingIndex }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    <a href="{{path('cart_add', {id : product.id} )}}">Add To Cart</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
