{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-5">
				<div class="card text-center" style="color:white;">
					<div class="card-header bg-primary">
						Toute Catégorie
					</div>
					<div>
						<ul class="list-group">
							{% for cat in cats %}
								<a href="#" class="list-group-item list-group-item-action">{{ cat.name }}</a>
							{% endfor %}
						</ul>
					</div>
					<hr>
					<div class="card-body">
						<h6>Prix</h6>
						<input type="range" class="form-range" min="0" max="500" id="customRange2">
					</div>
				</div>
			</div>
			<div class="col-md">
				{% for product in products %}
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								{% if product.images %}
									<img style="height:100%!important;" class="img-fluid rounded-start" src="{{ asset('uploads/' ~ product.images[0]) }}">
								{% else %}
									<img class="img-fluid rounded-start" src="{{ asset('image/imgnofound.png') }}">
								{% endif %}
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">{{ product.name }}</h5>
									<p class="text-end">50 avis</p>
									<p class="text-end">Recyclable à
										{{ product.recyclingIndex }}%
									</p>
									<p>
										<h5>{{ product.price }}€</h5>
									</p>
									<p class="card-text">{{ product.des }}</p>
									<div class="row align-items-center">
										<div class="col">
											<button class="btn btn-primary me-3">Ajouter au panier</button>
											<a href="#"><img src="{{ asset('bootstrap/icon/search.svg') }}"></a>
										</div>
										<div class="col">
											<h6 class="text-end">Catégorie :
												{{ product.categoryProduct.name }}</h6>
										</div>
									</div>

								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
