{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mb-3 mt-3">
			<a class="mb-2" href="{{ path('product_index') }}"><img height="50" width="50" src="{{ asset('bootstrap/icon/arrow-left-circle-fill.svg') }}"></a>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="me-2 mt-1">
							<div class="col">
								<div class="row justify-content-center">
									<div class="col d-flex align-items-center">
										<img id="imgPp" style="height:auto;width:100%;" src="{{ asset('uploads/' ~ product.images[0]) }}">
									</div>
									<div class="col">
										{% for img in product.images %}
											<div class="row mb-1">
												<img class="scale-hover" style="height:auto;width:30%;" src="{{ asset('uploads/' ~ img) }}" onmouseover="setPp(this);">
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-3" style="width:100%;margin:0;">
								<div class="row" style="width:100%;margin:0;">
									<div class="col mt-2">
										<h4>{{ product.name }}</h4>
									</div>
									<div class="col">
										<p class="text-end">{{ product.commentary|length }}
											avis</p>
									</div>
									<p class="text-end">Recyclable à
										{{ product.recyclingIndex }}%</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="card">
					<div class="card-body">
						<h6>Information de vente</h6>
						<div class="row">
							<div class="col">
								<p class="h4">Prix du produit :
									{{ product.price }}€</p>
							</div>
							<div class="col">
								<p class="text-muted text-end">Référence :
									{{ product.reference }}</p>
							</div>
						</div>
						<div class="d-flex justify-content-center mt-4">
							<a href="{{ path('cart_add_show',{'id':product.id}) }}" class="btn btn-outline-primary">Ajouter au panier</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h6>Déscription détaillée</h6>
						<p>{{ product.des }}</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h6>Commentaires</h6>
						{% for commentary in commentarys %}
							<h6>{{commentary.particulier.firstname}}</h6>
							<p>{{commentary.comment}}</p>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ asset('js/produit/show.js') }}"></script>
{% endblock %}
