<div class='container'>
	{{ form_start(form) }}

	<select name="product">
		{% for order in app.user.orders %}
			{% for product in order.product %}

				<option value="{{ product.id }}">{{ product.name }}</option>
			{% endfor %}
		{% endfor %}
	</select>
	<div class="form-floating mb-3">
		{{ form_widget(form.comment) }}
		<label for="floatingInput">Commentaire</label>
	</div>

	<button class="btn btn-outline-success">{{ button_label|default('Ajouter un commentaire') }}</button>
	{{ form_end(form) }}
</div>
