{% extends 'base.html.twig' %}
{% block body %}
	<br>
	<div class="container">
		<div class='card text-center'>
			<div class="row" style="margin: 0 auto; width: 80%;">
				<div class="col-sm" style="text-align:left">
					<h1 style="color:#00461d ">Bonjour</h1>
					<p style="font-size: 15px;">Nous sommes très accessibles et aimerions vous parler. N'hésitez pas à nous appeler, nous envoyer un email, nous tweeter ou simplement remplir le formulaire</p>
					<br>
					<div>
						<a href='mailto:service@ficheweb.fr'><img src="{{ asset('bootstrap/icon/person-circle.svg') }}" alt=""></a>
						service@ficheweb.fr<br><br>
						<img src="{{ asset('bootstrap/icon/geo-alt-fill.svg') }}" alt="">
						30 Rue de Turbigo, 75003 Paris,France<br><br>
						<img src="{{ asset('bootstrap/icon/facebook.svg') }}" alt=""></i>
					EcoService<br><br>
					<img src="{{ asset('bootstrap/icon/instagram.svg') }}" alt="">
					EcoService
					<br><br>

				</div>

			</div>
			<div class="col-sm">
				<divclass="form">
					<h1>Envoyerunmessage</h1>
					<form method="post">
						<div class="input-groupmb-3">
							<span class="input-group-text" id="basic-addon1">
								<imgsrc="{{asset('bootstrap/icon/person-circle.svg')}}"alt=""></span>
								<input type="text" class="form-control" placeholder="NomComplet" aria-label="Username" name="nom"></div>
							<div class="input-groupmb-3">
								<span class="input-group-text" id="basic-addon1">
									<img src="{{asset('bootstrap/icon/envelope.svg')}}" alt=""></span>
								<input type="mail" class="form-control" placeholder="Mail" aria-label="Username" name="mail"></div>
							<div class="input-groupmb-3">
								<span class="input-group-text" id="basic-addon1">
									<img src="{{asset('bootstrap/icon/telephone.svg')}}" alt=""></span>
								<input type="text" class="form-control" placeholder="Numérodetéléphone" aria-label="Username" name="tel"></div>
							<div class="input-groupmb-3">
								<span class="input-group-text" id="basic-addon1">
									<img src="{{asset('bootstrap/icon/forward.svg')}}" alt=""></span>
								<input type="text" class="form-control" placeholder="Objet" aria-label="Username" name="objet"></div>
							<div class="input-groupmb-3">
								<span class="input-group-text" id="basic-addon1">
									<img src="{{asset('bootstrap/icon/chat.svg')}}" alt=""></span>
								<textarea class="form-control" aria-label="Withtextarea" placeholder="Message" name="msg"></textarea>
							</div>
							<div>
								<input type="submit" value="Envoyerunmessage" name="ok" class="btn btn-outline-success" style='background:#00461d;border-color:#00461d;'>

							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
		{% endblock %}
