<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<title>
			{% block title %}EcoService
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
			<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">
		{% endblock %}

	</head>
	<header>
		{% if app.user %}
			{{ include('assets/headeruser.html.twig') }}
		{% else %}
			{{ include('assets/headerparticular.html.twig') }}
		{% endif %}
		<nav class="navbar navbar-dark bg-dark">
			<div class="container-fluid row justify-content-md" style="color: white;">

				<div class="col-3">
					<button aria-controls="navbarToggleExternalContent" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
			<div class="collapse" id="navbarToggleExternalContent">
				<div class="bg-dark p-4">
					<div class="row justify-content-center">
						<div class="col">
							<a class="text-center nav-link link-light" href="{{ path('product_index') }}">Produits</a>
						</div>
						<div class="col">
							<a class="text-center nav-link link-light" href="{{ path('page_faq') }}">FAQ</a>
						</div>
						<div class="col">
							<a class="text-center nav-link link-light" href="#">Contact</a>

						</div>
					</div>
				</div>
			</html>
		</html>
	</html>
</html></header><body>
{% block body %}{% endblock %}
<br><br><br><br><br><br><br><br><br></body>{{ include('assets/footer.html.twig') }}</html>
